* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #be3144;
  border-bottom: 2px solid #191a1b;
}

#nav-links {
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}

#navbar a,
#navbar a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1em;
}

#navbar a:hover,
#navbar a:active {
  background-color: #45567d;
  font-size: 1.5em;
}

#welcome-section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1 {
  color: white;
  font-size: 3em;
}

#welcome-section p {
  color: #be3144;
  font-style: italic;
  font-size: 1.5em;
  padding: 10px;
}

#projects {
  padding: 100px;
  background-color: #45567d;
  text-align: center;
}

#projects h2 {
  text-align: center;
  margin: 0 auto 0 auto;
  max-width: 380px;
  color: white;
  border-bottom: 1px solid white;
  padding: 3px;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 50px auto;
}

.project-tile {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.project-tile a {
  text-decoration: none;
}

.project-tile p {
  background-color: #303841;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2em;
}

.project-tile a .code-tag {
  color: #303841;
}

.project-tile a:hover .code-tag {
  color: #ff7f50;
}

.project-img {
  max-width: 100%;
  object-fit: cover;
  /* height: calc(100% - 0.5rem); */
  display: block;
}

#show-all,
#show-all:visited {
  background-color: #303841;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  width: 120px;
  margin-top: 50px;
}

#show-all:hover,
#show-all:active {
  background-color: #be3144;
}

#contact {
  background-color: #303841;
  height: 80vh;
  border-bottom: 3px solid #be3144;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact h1 {
  font-size: 3em;
}

#contact p {
  font-style: italic;
  font-size: 1.5em;
}

#prof-links {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#contact a,
#contact a:visited {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 1.5em;
}

#contact a:hover,
#contact a:active {
  position: relative;
  bottom: -5px;
}

#footer {
  background-color: #303841;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

#footer p {
  font-size: 1.1em;
  margin: 35px;
}

#disclaimer {
  padding-left: 50px;
}

#created-for {
  padding-right: 50px;
}

#created-for a {
  color: white;
  text-decoration: none;
}

@media screen and (width: 480px) {
  #projects-grid {
    display: flex;
    flex-direction: column;
  }
}
